services:
  postgres:
    image: postgres:16
    container_name: assecor-assessment-postgres
    environment:
      POSTGRES_DB: assecorassessmentdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: